<ion-header>
  <ion-toolbar>
    <ion-title>review</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-item>
  <ion-label position="floating">Name</ion-label>
  <ion-input></ion-input>
</ion-item>
  <ion-item>
    <ion-label>Rating</ion-label>
    <ion-select  cancelText="Nah" okText="Okay!">
      <ion-select-option value="1">1</ion-select-option>
      <ion-select-option value="2">2</ion-select-option>
      <ion-select-option value="3">3</ion-select-option>
      <ion-select-option value="4">4</ion-select-option>
      <ion-select-option value="5">5</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
  <ion-textarea placeholder="Enter comment"></ion-textarea>
</ion-item>
<ion-button>Submit</ion-button>


</ion-content>
