<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Udemy Courses
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
     <ion-card *ngFor="let course of courses" (click)="cardPressed(course)">
        <img src="{{course.course_image}}" />
        <ion-card-header>
          <ion-card-title>{{course.title}}</ion-card-title>
          
        </ion-card-header>
        <ion-card-content>
          {{course.description}}
        </ion-card-content>
      </ion-card>
  </ion-list>
</ion-content>
